@page "/about"
@inject NavigationManager NavigationManager

<h3>About</h3>

<main class="flex-shrink-0">
    <!-- About section two -->
    <section class="py-5 bg-white" id="scroll-target">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6" @onclick="@(() => ToLink("/price"))"><img class="img-fluid rounded mb-5 mb-lg-0" src="/Images/ilMitoDiGianni.png" alt="Gianni Paperone" /></div>
                <div class="col-lg-6">
                    <h2 class="fw-bolder">La storia di Gianni</h2>
                    <p class="lead fw-normal text-muted mb-0">
                        C'era una volta un corvo di nome Gianni che si sentiva un piccione nel cuore. Aveva un'abilità speciale: poteva organizzare e gestire tutto con estrema precisione. Gianni desiderava condividere questa capacità con il mondo, così creò un'app chiamata "Hugin & Munin".
                        Hugin & Munin permetteva alle persone di organizzare i loro pensieri, creare elenchi di cose da fare e persino tenere traccia dei loro progressi. Era come avere un assistente personale sempre a disposizione.
                        Con l'app di Gianni, gli utenti si sentivano ispirati e motivati a realizzare i loro sogni.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- About section two -->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-first order-lg-last">
                    <figure class="figure">
                        <img class="img-fluid rounded mb-5 mb-lg-0" src="/Images/crow.jpg" alt="Gianni che fuma" />
                        <figcaption class="figure-caption">Gianni poco dopo aver chiamato gli sviluppatori</figcaption>
                    </figure>
                </div>
                <div class="col-lg-6">
                    @*<h2 class="fw-bolder">Growth &amp; beyond</h2>*@
                    <p class="lead fw-normal text-muted mb-0">
                        Ogni volta che aprivano l'app, erano accolti da un coro di melodie armoniose che li invitava ad affrontare le sfide e a sperimentare la gioia del completamento delle attività.
                        Gianni, il corvo-piccione, aveva reso l'organizzazione e la gestione un'esperienza emozionante. La sua app, Hugin & Munin, ha aiutato le persone a dare forma ai loro pensieri, a rimanere concentrate e a raggiungere i loro obiettivi.
                        E così, grazie a Gianni e alla sua app, il mondo divenne un posto più organizzato e pieno di possibilità. Le note e i promemoria diventarono la chiave per il successo e la realizzazione personale.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Team members section -->
    <section class="py-5 bg-white">
        <div class="container px-5 my-5">
            <div class="text-center">
                <h2 class="fw-bolder">Il nostro team</h2>
                <p class="lead fw-normal text-muted mb-5">Dedicati alla qualità e al tuo successo.</p>
            </div>
            <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                <div class="col mb-5 mb-5 mb-xl-0">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="/Images/Gianni.png" alt="Gianni" @onclick="@(() => ToLink("https://youtu.be/0aGWaUeZJHw"))" />
                        <h5 class="fw-bolder">Gianni</h5>
                        <div class="fst-italic text-muted">Fondatore &amp; CEO</div>
                    </div>
                </div>
                <div class="col mb-5 mb-5 mb-xl-0">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="/Images/Cicciodragone.png" alt="Stefano Marcelli" @onclick="@(() => ToLink("https://it.wikipedia.org/wiki/Odino"))" />
                        <h5 class="fw-bolder">Stefano Marcelli</h5>
                        <div class="fst-italic text-muted">Web Architect &amp; DBA</div>
                    </div>
                </div>
                <div class="col mb-5 mb-5 mb-sm-0">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="/Images/pussinboots2.gif" alt="Giulia Marelli" @onclick="@(() => ToLink("https://i.imgflip.com/77655j.jpg?a467520"))" />
                        <h5 class="fw-bolder">Giulia Marelli</h5>
                        <div class="fst-italic text-muted">Web Art Director &amp; Graphic Designer</div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="text-center">
                        <img class="img-fluid rounded-circle mb-4 px-4" src="/Images/Bing-Emblem.png" alt="Bing" />
                        <h5 class="fw-bolder">Bing</h5>
                        <h6 id="bing">Non ho un cognome perché sono un motore di ricerca. 😊</h6>
                        <div class="fst-italic text-muted">ICT Consultant</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@code {
    void ToLink(string URL)
    {
        NavigationManager.NavigateTo($"{URL}");
    }
}

<style>
    h6#bing{
        font-size: smaller !important;
        color: grey !important;
    }
</style>