@page "/tag"
@inject INoteService NoteService
@inject NavigationManager NavigationManager

<PageTitle>Tag</PageTitle>

<style>
    details {
        min-width: 70%;
        margin: 0 auto;
        background: white;
        color: black;
        margin-bottom: .5rem;
        box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
        overflow: hidden;
    }

    summary {
        padding: 1rem;
        display: block;
        background: rebeccapurple;
        color: #fff;
        padding-left: 2.2rem;
        position: relative;
        cursor: pointer;
    }

    summary:before {
        content: '';
        border-width: .4rem;
        border-style: solid;
        border-color: transparent transparent transparent #fff;
        position: absolute;
        top: 1.3rem;
        left: 1rem;
        transform: rotate(0);
        transform-origin: .2rem 50%;
        transition: .25s transform ease;
    }

    /* summary + div{
        background-color: white;
        color: black;
    } */

    details[open] > summary:before {
        transform: rotate(90deg);
    }


    details summary::-webkit-details-marker {
        display: none;
    }

    details > ul {
        padding-bottom: 1rem;
        margin-bottom: 0;
    }

    h3{
        color: black;
    }

    .readmore:hover {
        text-decoration: underline;
    }

    tr:hover{
        cursor: pointer;
        background-color: rgba(102, 51, 153, 0.25);
    }

    td#update{
        text-align: right !important;
    }

    em#id {
        font-size: xx-small !important;
        color: #177013 !important;
    }
</style>

<h3>Tag <em id="id">177013</em></h3>

@foreach (var tag in NoteService.Notes.Select(n => n.Tag).Distinct().OrderBy(tag => tag).ToList())
{
    <details>
        <summary>
        @if(@tag != string.Empty)
            @tag
        else{
            <em>Senza Tag</em>
        }
        </summary>
        <div>
            <table class="table">
                <tbody>
                    @foreach(var note in NoteService.Notes.FindAll(n => n.Tag == tag)){
                        <tr id="@note.Id" @onclick="(() => ReadNote(note.Id))">
                            <td>@note.Title</td>
                            <td>
                                @{
                                    string Description = note.Description;
                                    if (Description.Length > 75)
                                    {
                                        Description = Description.Substring(0, 75);
                                    }
                                }
                                @Description
                                @if (note.Description.Length > 75)
                                {
                                    <i>... <b class="readmore">(Leggi di più)</b></i>
                                }
                            </td>
                            <td class="d-none d-md-table-cell" id="update">
                                @note.Update
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </details>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await NoteService.GetNotes();
    }

    void ReadNote(int id)
    {
        NavigationManager.NavigateTo($"read/{id}");
    }
}
