* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#error {
    max-height: 100vh !important;
    font-size: 2vmin;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#container{
    display: flex;
}

#message{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

#error > h1{
    font-size: 4em;
    font-weight: bolder;
    color: rebeccapurple;
    text-align: center;
}

#message > h2{
    font-size: 3em;
    margin-bottom: 10px;
}

#message > p{
    font-size: 2em;
}

.crow {
    height: 35em;
    width: 30em;
    position: relative;
    background:
    /* Cage - Top */
    radial-gradient( ellipse 100% 100%, transparent calc( 50% - .3em ), #000 calc( 50% - .2em ), #000 calc( 50% - .1em ), transparent 50% ) right calc( 50% - 1.7em ) bottom 30.2em / 1.7em 1.7em, radial-gradient( ellipse 100% 100%, transparent calc( 50% - .3em ), #000 calc( 50% - .2em ), #000 calc( 50% - .1em ), transparent 50% ) left 50% bottom 30.4em / 2.4em 2.4em, radial-gradient( ellipse 100% 100%, transparent calc( 50% - .3em ), #000 calc( 50% - .2em ), #000 calc( 50% - .1em ), transparent 50% ) left calc( 50% - 1.8em ) bottom 30.2em / 1.7em 1.7em,
    /* Cage - Top half circles */
    radial-gradient( ellipse 100% 100% at 50% 100%, transparent calc( 50% - .25em ), #000 calc( 50% - .2em ), #000 calc( 50% - .1em ), transparent 50% ) left 50% bottom 23.7em / 4.92em 14em, radial-gradient( ellipse 100% 100% at 50% 100%, transparent calc( 50% - .3em ), #000 calc( 50% - .2em ), #000 calc( 50% - .1em ), transparent 50% ) left 50% bottom 23.7em / 9.38em 14em, radial-gradient( ellipse 100% 100% at 50% 100%, transparent calc( 50% - .3em ), #000 calc( 50% - .2em ), #000 calc( 50% - .1em ), transparent 50% ) left 50% bottom 23.7em / 13.87em 13.87em,
    /* Cage - Horizontal lines */
    linear-gradient( #000, #000 ) left 50% bottom 27.35em / 11.3em .2em, linear-gradient( #000, #000 ) left 50% bottom 23.51em / 13.8em .2em,
    /* Cage - Vertical lines */
    linear-gradient( #000, #000 ) right calc( 50% - 2.3em ) bottom 10.6em / .2em 13em, linear-gradient( #000, #000 ) right calc( 50% - 4.55em ) bottom 10.6em / .2em 13em, linear-gradient( #000, #000 ) right calc( 50% - 6.8em ) bottom 10.6em / .2em 13em, linear-gradient( #000, #000 ) left 50% bottom 10.6em / .2em 19.9em, linear-gradient( #000, #000 ) left calc( 50% - 2.3em ) bottom 10.6em / .2em 13em, linear-gradient( #000, #000 ) left calc( 50% - 4.55em ) bottom 10.6em / .2em 13em,
    /* Cage - Base */
    linear-gradient( #000, #000 ) left 50% bottom 9.2em / 13.8em 1.4em,
    /* Crow - Eye */
    radial-gradient( ellipse 100% 100%, #000 37%, #FFF 40%, #FFF 47%, transparent 50% ) left calc( 50% - 2.3em ) bottom calc( 50% + 2.3em ) / 2.1em 2.1em,
    /* Crow - Beak border */
    linear-gradient( #111, #111 ) left calc( 50% - 5em ) bottom 19em / .2em 3em,
    /* Crow - Body */
    linear-gradient( 45deg, transparent 31%, #311f59 31%, #000 61%, transparent 61% ) left calc( 50% + 1em ) bottom 50% / 12em 9.16em, radial-gradient( ellipse 50% 100% at 100% 0, #311f59 50%, transparent 50.5% ) left calc( 50% - 10.7em ) bottom 6.45em / 23em 13em, linear-gradient( #311f59, #311f59 ) left calc( 50% + 1em ) bottom 12.95em / 1em 1em,
    /* Crow - Tail */
    linear-gradient( 45deg, transparent 40%, #000 40%, #000 45%, transparent 45% ) left calc( 50% + 7.2em ) bottom 10em / 9em 9em,
    /* Crow - Beak */
    linear-gradient( #111, #111 ) left calc( 50% - 5.9em ) bottom 20.3em / 5em .2em, radial-gradient( ellipse 100% 100% at 50% 110%, #311f59 49%, transparent 51% ) left calc( 50% - 5em ) bottom 20.4em / 7em 4em, radial-gradient( ellipse 100% 100% at 50% -10%, #311f59 49%, transparent 51% ) left calc( 50% - 5em ) bottom 16.5em / 7em 4em,
    /* Cage - Left vertical line */
    linear-gradient( #000, #000 ) left calc( 50% - 6.8em ) bottom 10.6em / .2em 13em,
    /* Crow - Legs */
    linear-gradient( -45deg, transparent calc( 50% - .1em ), #000 calc( 50% - .1em ), #000 calc( 50% + .1em ), transparent calc( 50% + .1em ) ) left calc( 50% - 1.1em ) bottom 10.6em / 2.25em 2.25em, linear-gradient( -45deg, transparent calc( 50% - .1em ), #000 calc( 50% - .1em ), #000 calc( 50% + .1em ), transparent calc( 50% + .1em ) ) right calc( 50% - 1.2em ) bottom 10.5em / 2.25em 2.25em,
    /* Base 2 */
    linear-gradient( #000, #000 ) left 50% bottom 9em / 17.5em .2em, linear-gradient( #d55d1f, #d55d1f ) right 8.1em bottom 6.2em / 1.5em 2.8em, linear-gradient( #d55d1f, #d55d1f ) left 8.1em bottom 6.2em / 1.5em 2.8em, radial-gradient( ellipse 100% 100%, #feb60d 48%, transparent 50% ) left 50% bottom 6.75em / 4.5em 1.65em, linear-gradient( #fd851c, #e06a1d ) left 50% bottom 6.2em / 16.8em 2.8em,
    /* Base 1 */
    linear-gradient( #000, #000 ) left 50% bottom 6em / 19.5em .2em, linear-gradient( #2f1e5a, #2f1e5a ) right 8.75em bottom 4.65em / .2em 1.5em, linear-gradient( #2f1e5a, #2f1e5a ) right 8em bottom 4.65em / .2em 1.5em, linear-gradient( #2f1e5a, #2f1e5a ) right 7.3em bottom 4.65em / .2em 1.5em, linear-gradient( #2f1e5a, #2f1e5a ) left 8.75em bottom 4.65em / .2em 1.5em, linear-gradient( #2f1e5a, #2f1e5a ) left 8em bottom 4.65em / .2em 1.5em, linear-gradient( #2f1e5a, #2f1e5a ) left 7.3em bottom 4.65em / .2em 1.5em, linear-gradient( #2f1e5a, #2f1e5a ) left 50% bottom 5.2em / 8.5em .2em, linear-gradient( #000, #000 ) left 50% bottom 4.65em / 19em 1.5em,
    /* Base 0 */
    linear-gradient( #000, #000 ) left 50% bottom 4.45em / 22em .2em, linear-gradient( 90deg, #d6c1e3, #d6c1e3 ) right 7.8em bottom 2.35em / .8em 2.1em, linear-gradient( 90deg, #d6c1e3, #d6c1e3 ) right 12.4em bottom 2.35em / .8em 2.1em, linear-gradient( 90deg, #d6c1e3, #d6c1e3 ) left 12.4em bottom 2.35em / .8em 2.1em, linear-gradient( 90deg, #d6c1e3, #d6c1e3 ) left 7.8em bottom 2.35em / .8em 2.1em, linear-gradient( #FFF, #dccae7 ) left 50% bottom 2.35em / 21.5em 2.1em, linear-gradient( #000, #000 ) left 50% bottom 2.15em / 25em .2em;
    background-repeat: no-repeat;
}

    .crow::before {
        content: '';
        display: block;
        position: absolute;
        height: 4.5em;
        width: 7em;
        border-radius: 1.5em 0 0 2em;
        background:
        /* Horizontal lines */
        linear-gradient( #000, #000 ) 0 calc( 50% + .7em ) / 4.5em .2em, linear-gradient( #000, #000 ) 0 calc( 50% - .8em ) / 2.2em .2em,
        /* Vertical lines */
        linear-gradient( #000, #000 ) 4.45em 50% / .2em 100%, linear-gradient( #000, #000 ) 2.2em 50% / .2em 100%, linear-gradient( #000, #000 ) 0 50% / .1em 100%,
        /* Background */
        linear-gradient( 45deg, #2f1e5b 30%, #762b77 60% );
        background-repeat: no-repeat;
        left: 50%;
        top: 50%;
        margin-top: -1em;
        box-shadow: 0 0 1em 0 rgba(0,0,0,.5);
        clip-path: polygon( -1em -1em, 2.4em 0, calc( 100% - .1em ) 100%, -1em calc( 100% + 1em ) );
    }
